<div class="row">
  <div class="col-sm-4 text-center btn btn-outline-dark" >
  	<ul class="list-group">
      <li class="list-group-item list-group-item-dark"> <%= link_to "Create new post", root_path, :class => 'text-danger' %> </li>
  </ul>
  </div>
  <div class="col-sm-4 text-center btn btn-outline-dark" >
  	<ul class="list-group">
      <li class="list-group-item list-group-item-dark"> <%= link_to "Create new gallary", root_path, :class => 'text-danger' %> </li>
  </ul>
  </div>
  <div class="col-sm-4 text-center btn btn-outline-dark" >
  	<ul class="list-group">
      <li class="list-group-item list-group-item-dark"> <%= link_to "Create new story", root_path, :class => 'text-danger' %> </li>
  </ul>
  </div>
  
</div>


