<nav class="navbar navbar-expand-sm bg-danger navbar-danger">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand text-dark btn btn-outline-dark" href="#">Home</a>
		</div>
		  <ul class="navbar-nav">
			    
			    <li class="active nav-item"><a class="nav-link text-dark btn btn-outline-dark " href="#" >Page1</a></li>
			    <li class="active nav-item"><a class="nav-link text-dark btn btn-outline-dark " href="#">Page2</a></li>
			    <li class="active nav-item"><a class="nav-link text-dark btn btn-outline-dark " href="#">Page3</a></li>
		  </ul>
  </div>
</nav>